body{
    background-color: aqua;
    margin: 0;
}
/*div{
    height: 33vh;
}*/
#div1{
    background-color: orange;
    height: 15vh;
}
#div2{
    background-color: red;
    height: 85vh;
    width: 20vw;
    float: left;
}
#div3{
    background-color: green;
    height: 85vh;
    width: 80vw;
    float: left;
}
.div2-menu{
    background-color: yellow;
}
